header {

    height: 130px;

}

header .header_wrapper {

    width: 984px;

}

header .navigation {

    display: none;

    position: absolute;

    width: 400px;

}

header .navigation ul {
    
    width: 300px;
    
}

.logo {

    padding-top: 50px;

}

.logo_wrapper {

    width: 950px;

}


.burger_menu_button {

    display: block;

}

.burger_menu_button .svg_wrapper {

    margin: auto;

    height: 20px;
    
    cursor: pointer;

    margin-top: 10px;

}