.welcome {

    position: relative;
    z-index: 1;

    height: 585px;

}

.welcome_wrapper {

    width: 984px;
    height: 585px;

    padding: 20px 0;

    background-size: 700px 525px;
    background-position: 285px 0;

}


.welcome .text {

    width: 400px;
    height: 350px;

    padding: 40px 0 0 0;

}

.welcome .title {

    font-size: 50px;
    line-height: 87px;
    letter-spacing: 5px;

}

.welcome .text p {

    font-weight: 300;
    font-size: 24px;

    line-height: 100%;
    letter-spacing: 2px;

}

.welcome .button {

    width: 300px;
    height: 60px;

    margin-top: 49px;

}

.welcome .button a {

    width: 300px;
    height: 60px;

    font-weight: 300;
    font-size: 20px;

    line-height: 100%;
    letter-spacing: 2px;

}

.slider_wrapper_welcome {

    width: 745px;
    height: 100%;
    position: relative;
    top: -1160px;
    left: 400px;

    z-index: 5;

}

.slider_welcome {

    width: 745px;

    background-size: 100% 100%;

}


.gradient_monalisa {

    width: 100%;
    height: 100%;

    top: 0px;
    
    z-index: 8;

    background-position: 200px 0;

}

.pagination {

    width: 700px;
    height: 120px;
    
    top: -2032px;

    margin-left: 304px;

}

.pagination .pagination_wrapper {

    justify-content: space-between;

    width: 430px;

    margin: 0 0 0 195px;

}

.pagination .numbers {

    width: 71px;    
    height: 40px;

}

.pagination .numbers div {

    font-weight: 400;
    font-size: 20px;

    line-height: 40px;
    letter-spacing: 0px;

}

.pagination .pages {

    width: 160px;
    padding-top: 5px;

}

.pagination .page {
    
    width: 12px;
    height: 12px;

}