.welcome {

    height: 585px;

}

.welcome_wrapper {

    width: 984px;
    height: 585px;

    padding: 20px 0;

    background-size: 700px 525px;
    background-position: 285px 0;

}


.welcome .text {

    width: 400px;
    height: 233px;

    margin-top: 30px;

}

.welcome .title {

    font-size: 50px;

    line-height: 90px;
    letter-spacing: 5px;

}

.welcome .text p {

    font-weight: 300;
    font-size: 24px;

    line-height: 100%;
    letter-spacing: 2px;

}

.welcome .button {

    width: 300px;
    height: 60px;

    margin-top: 55px;

}

.welcome .button a {

    width: 300px;
    height: 60px;

    font-weight: 300;
    font-size: 20px;

    line-height: 100%;
    letter-spacing: 2px;

}


.gradient_monalisa {

    height: 525px;

    top: 130px;
    background-position: 75px 0;

}

.pagination {

    width: 700px;
    height: 120px;
    
    top: 181px;

    margin-left: 300px;

}

.pagination .pagination_wrapper {

    justify-content: space-between;

    width: 430px;

    margin: 0 0 0 195px;

}

.pagination .numbers {

    width: 71px;    
    height: 40px;

}

.pagination .numbers div {

    font-weight: 400;
    font-size: 20px;

    line-height: 40px;
    letter-spacing: 0px;

}

.pagination .pages {

    width: 160px;
    padding-top: 5px;

}

.pagination .page {
    
    width: 12px;
    height: 12px;

}