body {
    font-family: "SUSE Mono", sans-serif;

    background-color: rgba(42, 64, 185, 0.43);
}

h2 {
    display: flex;
    justify-content: center;
}

a {
    display: block;
    width: 100px;
    height: 35px;
    text-decoration: none;
    color: rgb(59, 59, 243);

    padding-top: 3px;

    transition: 0.3s;
}

a:hover {

    color: rgb(0, 101, 253);

    transition: 0.3s;
}

img {
    margin: 0 0 0 700px;
    width: 500px;
    height: 400px;
}

.center_block {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;

    width: 500px;
    height: 500px;

    text-align: center;
}