header {

    width: 100%;
    height: 150px;

    background-color: black;
    color: white;

}

header .header_wrapper {
    
    display: flex;
    flex-direction: row;

    margin: 0 auto;

    width: 1440px;

}

.logo {

    display: flex;
    flex-direction: row;

    
    gap: 25px;

    font-size: 28px;
    font-weight: 400;

    width: 199px;
    height: 33px;
    padding-top: 62px;

}

.logo_wrapper {

    width: 665px;

}

.logo svg {
    width: 49px;
    height: 26px;
}

.logo h1 {

    font-weight: 400;
    font-size: 28px;
    
    line-height: 100%;
    letter-spacing: 5px;
    text-transform: uppercase;


    width: 125px;
    height: 31px;

    margin: 0;
}

.navigation ul {
    
    display: flex;
    flex-direction: row;
    gap: 55px;

    width: 775px;
    height: 26px;

    padding: 65px 0 0 0;
    margin: 0;

    font-weight: 200;
    font-size: 22px;

    line-height: 100%;
    letter-spacing: 2px;

}

.adaptive_arrow {

    display: none;

}

.navigation a {
    
    text-align: center;

}

.burger_menu_button {

    display: none;

    width: 40px;
    height: 120px;

    padding: 0;

    background: none;

    border: none;


}

.burger_menu_button .svg_wrapper svg {

    margin: auto;

}