
.visiting {
    width: 100%;
    margin-top: 75px;


}

.visiting_wrapper {
    width: 1440px;
    height: 1116px;

    margin: 0 auto;
}

.visiting .title {
    width: 100%;
    height: 115px;

    border-bottom: 3px solid rgba(113, 7, 7, 1);
    color: rgba(157, 134, 101, 1);
}


.tours {

    display: flex;
    flex-wrap: wrap;
    gap: 75px 60px;

    margin-top: 75px;

    height: 923px;

}

.tour {
    width: 440px;
    height: 424px;
}

.image_block img {

    width: 100%;

}

.tour_title {

    width: 300px;
    height: 40px;

    border-bottom: 3px solid rgba(113, 7, 7, 1);

    margin: 25px 0 10px 0;

    font-weight: 400;
    font-size: 32px;

    line-height: 100%;
    letter-spacing: 5px;
    text-transform: uppercase;
    white-space: nowrap;
    transition: 0.5s;

}

.tour_title:hover {

    width: 100%;

    transition: 0.5s;

}

.tour .type {

    display: flex;
    flex-direction: column;
    align-items: left;
    align-content: center;
    

    width: 300px;
    height: 70px;

    font-weight: 200;
    font-size: 22px;

    line-height: 100%;
    letter-spacing: 0%;

}

.tour_type {

    width: 165px;
    height: 26px;

    margin: 0px 0 11px 0;
}

.view_type {
    
    width: 240px;
    height: 21px;

    font-weight: 200;
    font-size: 18px;

    line-height: 100%;
    letter-spacing: 0%;

}
