
.art_gallery {

    width: 100%;
    height: 2200px;

    background-color: rgba(3, 3, 3, 1);

    margin-top: 75px;

    color: white;
}

.art_gallery_wrapper {

    width: 1440px;
    height: 2125px;
    margin: 0 auto;

}

.art_gallery .title {

    padding: 75px 0;

}


.arts {
    display: flex;
    flex-direction: row;

    height: 1960px;

    overflow: hidden;

    position: relative;
    z-index: 0;
}

.art_block_1, .art_block_2, .art_block_3 {

    display: flex;
    flex-direction: column;
    gap: 24px;

    width: 456px;

}

.art_block_1, .art_block_3 {

    padding-top: 50px;

}

.art_block_2 {

    margin: 0 36px;

}

.gradient_art {

    display: block;
    position: relative;
    bottom: 1020px;
    left: 578px;
    z-index: 1;

    width: 750px;
    height: 1440px;

    background: #000000;
    background: linear-gradient(90deg,rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%);
 

    transform: rotate(-90deg);
    
}
