
.welcome {

    width: 100%;
    height: 810px;

    color: white;

    background-color: #030303;

    

}

.welcome_wrapper {

    width: 1440px;
    height: 810px;

    margin: 0 auto;

    padding: 32px 240px 0 240px;
    background-image: url(/assets/img/welcome-slider/1.jpg);
    background-repeat: no-repeat;
    background-size: 1000px 750px;
    background-position: 680px 0;
}

.gradient_monalisa {

    display: block;
    position: absolute;
    top: 149px;
    left: 230px;
    z-index: 1;

    width: 1000px;
    height: 750px;

    background: #000000;
    background: linear-gradient(90deg,rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 23%);
    background-position: 440px;

}

.welcome .text {
    display: block;
    position: relative;
    width: 600px;
    height: 388px;

    margin: 120px 0 0 0;

    z-index: 2;
}

.welcome .title {

    width: 600px;
    word-break: break-all;

    height: 180px;

}

.welcome .text p {

    margin-top: 25px;

    font-weight: 300;
    font-size: 28px;

    line-height: 100%;
    letter-spacing: 2px;

}

.welcome .button {

    width: 360px;
    height: 75px;

    margin-top: 75px;

    font-weight: 300;
    font-size: 22px;

    line-height: 100%;
    letter-spacing: 2px;
    text-align: center;
    align-content: center;

    background-color: #710707;
    border-radius: 10px;

    transition: 0.5s;

}

.welcome .button a {
    display: block;

    align-content: center;
    width: 360px;
    height: 75px;
}

.welcome .button:hover {
    
    background-color: rgba(157, 134, 101, 1);

}

.welcome .button a:hover {
    color: rgba(255, 255, 255, 1);
}


.pagination {

    display: block;
    position: relative;
    z-index: 3;

    width: 600px;
    height: 120px;

    background-color: #000000;

    top: 150px;
    
    margin-left: 840px;

}

.pagination_wrapper {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    

    font-weight: 400;
    font-size: 22px;

    line-height: 40px;
    letter-spacing: 0px;
    text-transform: uppercase;

    padding-top: 40px;


}

.pagination .numbers  {

    position: relative;
    left: 8px;

    width: 76px;
    height: 40px;



}

.pagination .numbers p {
    padding: 0;
    margin: 0;
}


.pagination .numbers div {

    display: flex;
    justify-content: space-between;

}

.pagination .pages {

    display: flex;
    justify-content: space-between;

    width: 180px;
    height: 16px;

}

.pagination .page {

    position: relative;
    right: 3px;

    width:  16px;
    height: 16px;

    background-color: rgba(255, 255, 255, 1);

    
}

.pagination a {
    display: block;
    width: 16px;
    height: 16px;
}
.pagination .active:hover {
    background-color: rgba(157, 134, 101, 1);
    transition: 0.5s;
}

.pagination .active {

    background-color: rgba(210, 177, 131, 1);
    transition: 0.5s;

}

.pagination .change_page {

    display: flex;
    justify-content: space-between;

    position: relative;
    right: 10px;

    width: 80px;
    height: 8px;

}

.arrow_left svg:hover {
    fill: rgba(157, 134, 101, 1);
}

.pagination .arrow_left, .pagination .arrow_right {
    cursor: pointer;
}