
.contacts {

    width: 100%;
    height: 813px;

    margin-top: 75px;

}

.contacts_wrapper {

    width: 1440px;
    height: 813px;

    margin: 0 auto;

}

.contacts_wrapper h2 {

    width: 100%;
    height: 115px;
    
    color: rgba(157, 134, 101, 1);
    border-bottom: 3px solid rgba(113, 7, 7, 1);

}

.contacts .block_info {

    display: flex;

    width: 1440px;
    height: 620px;

    margin-top: 75px;

}

.contacts .block_info .text_block {

    width: 480px;
    height: 100%;

}

.contacts .block_info .text_block .header_text {

    width: 230px;
    height: 66px;

    margin-bottom: 50px;


    font-weight: 500;
    font-size: 28px;    

    line-height: 117%;
    letter-spacing: 0%;

}

.contacts .block_info .text_block .contact_info {

    display: flex;
    justify-content: space-between;
    flex-direction: column;


    width: 300px;
    height: 130px;

}

.contacts .block_info .text_block .contact_info a, .contacts .block_info .text_block .contact_info address {

    width: 300px;

    font-style: normal;

    font-weight: 300;
    font-size: 22px;

    line-height: 130%;
    letter-spacing: 0%;

    color: #000000;




}

.contacts .block_info .map_block  {

    width: 960px;
    height: 620px;

}
